{% if violations > 0 %}
	{{ violations }} Violation{% if violations > 1 %}s{% endif %}
	{% if (warnings > 0 or infos > 0 or others > 0)  %},{%  endif %}
{% endif %}
{% if warnings > 0 %}
	{{ warnings }} Warning{% if warnings > 1 %}s{% endif %}
	{% if (infos > 0 or others > 0)  %},{%  endif %}
{% endif %}
{% if infos > 0 %}
	{{ infos }} Info{% if infos > 1 %}s{% endif %}
	{% if (others > 0)  %},{%  endif %}
{% endif %}
{% if others > 0 %}
	{{ others }} Other{% if others > 1 %}s{% endif %}
{% endif %}

{% if violations == 0 and warnings == 0 and infos == 0 and others == 0 %}
	<span class="badge badge-pill badge-success">Valid</span>&nbsp;Data is conformant !
{% endif %}