#globalnav {
	margin-bottom: 1.5em;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	color:#B0B0B0;
	text-align: center;
}

/**
 * Waiting page
 **/
#tail {
    border: 1px solid #ddd;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

/** validate-form **/

.blockquote {
	font-size: 1rem;
}