@charset "ISO-8859-1";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	background-color: #fff;
}

.monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	font-size: 87.5%;
}

.anchor {
	float: left;
	padding-right: 4px;
	margin-left: -20px;
	line-height: 1;
	padding-top: 12px;
}

.mb-4 {
	margin-bottom: 2.5rem !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}

.mt-3 {
	margin-top: 1.875rem !important;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

a:-webkit-any-link {
	cursor: pointer;
}

.p {
	font-size: 0.875em;
}

@media only print {
}

@page {
	size: A4 portrait;
	margin-top: 1.2cm;
	margin-bottom: 1.2cm;
	margin-left: 1.2cm;
	margin-right: 1.2cm;
	background-repeat: no-repeat;
	background-position: 40px 10px;
	
	@bottom-center
	{
	content
	:
	counter(
	page
	);
}

}
.pt-4 {
	padding-top: 2.5rem !important;
}

/* This section draw the format web */
.sp_container_principal {
	width: calc(100% - 40px);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.sp_list {
	margin: 0.5em;
	margin-bottom: 2rem;
}

.ul_type_none {
	list-style-type: none;
}

.sp_list_description_properties ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

dl, ol, ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

ul {
	list-style-type: disc;
}

.sp_font_title_h1, h1 {
	font-size: 2.1875rem;
}

.sp_font_title_h2, .sp_font_title_h1, h1, h2 {
	font-family: Georgia, Garamond, serif;
}

.h2, .h3 {
	font-size: 1.25rem;
	line-height: 1.2rem;
}

.sp_font_title_h1, .sp_font_title_h2, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-family: Georgia, Garamond, serif;
	font-weight: 500;
	line-height: 1.2rem;
	color: #1e1e1f;
}

table {
	display: table;
	border-collapse: collapse;
	box-sizing: border-box;
	text-indent: initial;
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-style: normal;
	color: -internal-quirk-inherit;
	text-align: start;
	border-spacing: 2px;
	border-color: grey;
	font-variant: normal;
}

.sp_table .table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.sp_table thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.sp_table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #d1d3d4;
}

.sp_table td, .table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #d1d3d4;
}

.sp_table th {
	text-align: inherit;
}

.sp_table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.sp_table tr:nth-child(even) {
	background-color: #eee;
}

.sp_table td {
	padding: 0.25rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.sp_description_column .sp_table th:nth-child(4) {
	width: 6%;
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word;
}

code, kbd, pre, samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
		Courier New, monospace;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}